@media screen and (min-width: 500px), print {
  body {
    padding-top: 0;
  }
  .sec__login {
    padding: 11px 0;
    height: 100vh;
    background-color: #ffffff;
  }
  .sec__login .row {
    height: 100%;
  }
  .sec__login .login__wrapper {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 58px 20px;
    height: 100%;
    z-index: 1;
  }
  .sec__login .login__wrapper:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent url(../../images/login/login_bgr_pc.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    -moz-border-radius: 70px;
         border-radius: 70px;
    z-index: -1;
  }
  .sec__login .login__logo {
    margin-bottom: 33px;
    text-align: center;
  }
  .sec__login .login__logo img {
    max-width: 246px;
  }
  .sec__login .login__blog {
    margin: 0 auto;
    padding: 25px 15px 28px;
    background-color: rgba(255, 255, 255, 0.89);
    width: 534px;
    max-width: 100%;
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
         box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    -moz-border-radius: 15px;
         border-radius: 15px;
  }
  .sec__login .login__blog--register {
    padding-top: 15px;
    padding-bottom: 19px;
  }
  .sec__login .login__blog .register__title {
    margin-bottom: 35px;
    padding-left: 6px;
    font-family: "SourceHanSansJP", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #004328;
    text-align: center;
  }
  .sec__login .login__blog .register__btns {
    text-align: center;
  }
  .sec__login .login__blog:not(:last-child) {
    margin-bottom: 32px;
  }
  .sec__login .form__control__label {
    font-size: 1.2rem;
    color: #888888;
  }
  .sec__login .form__control__input {
    padding-right: 3px;
  }
  .sec__login .form__control__input input {
    background-color: transparent;
    border-color: #005C40;
    font-size: 1.4rem;
  }
  .sec__login .form__control__checkbox {
    padding-top: 5px;
  }
  .sec__login .form__btns {
    margin-top: 34px;
    text-align: center;
  }
}
@media screen and (min-width: 499px) and (max-width: 959px) {
  body {
    padding-top: 0;
  }
  .sec__login {
    padding: 11px 0;
    height: 100vh;
    background-color: #ffffff;
  }
  .sec__login .row {
    height: 100%;
  }
  .sec__login .login__wrapper {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 58px 20px;
    height: 100%;
    z-index: 1;
  }
  .sec__login .login__wrapper:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent url(../../images/login/login_bgr_pc.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    -moz-border-radius: 70px;
         border-radius: 70px;
    z-index: -1;
  }
  .sec__login .login__logo {
    margin-bottom: 33px;
    text-align: center;
  }
  .sec__login .login__logo img {
    max-width: 246px;
  }
  .sec__login .login__blog {
    margin: 0 auto;
    padding: 25px 15px 28px;
    background-color: rgba(255, 255, 255, 0.89);
    width: 534px;
    max-width: 100%;
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
         box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    -moz-border-radius: 15px;
         border-radius: 15px;
  }
  .sec__login .login__blog--register {
    padding-top: 15px;
    padding-bottom: 19px;
  }
  .sec__login .login__blog .register__title {
    margin-bottom: 35px;
    padding-left: 6px;
    font-family: "SourceHanSansJP", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #004328;
    text-align: center;
  }
  .sec__login .login__blog .register__btns {
    text-align: center;
  }
  .sec__login .login__blog:not(:last-child) {
    margin-bottom: 32px;
  }
  .sec__login .form__control__label {
    font-size: 1.2rem;
    color: #888888;
  }
  .sec__login .form__control__input {
    padding-right: 3px;
  }
  .sec__login .form__control__input input {
    background-color: transparent;
    border-color: #005C40;
    font-size: 1.4rem;
  }
  .sec__login .form__control__checkbox {
    padding-top: 5px;
  }
  .sec__login .form__btns {
    margin-top: 34px;
    text-align: center;
  }
}
@media screen and (max-width: 499px) {
  body {
    padding-top: 0;
  }
  .sec__login {
    padding: 1.6vw;
    min-height: 100vh;
    background-color: #ffffff;
  }
  .sec__login .row {
    min-height: -webkit-calc(100vh - 3.2vw);
    min-height: -moz-calc(100vh - 3.2vw);
    min-height: calc(100vh - 3.2vw);
    padding-left: 0;
    padding-right: 0;
  }
  .sec__login .login__wrapper {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15.4666666667vw 3.7333333333vw 23.4666666667vw;
    min-height: -webkit-calc(100vh - 3.2vw);
    min-height: -moz-calc(100vh - 3.2vw);
    min-height: calc(100vh - 3.2vw);
    z-index: 1;
  }
  .sec__login .login__wrapper:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent url(../../images/login/login_bgr_sp.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    -moz-border-radius: 18.6666666667vw;
         border-radius: 18.6666666667vw;
    z-index: -1;
  }
  .sec__login .login__logo {
    margin-bottom: 7.4666666667vw;
    padding-right: 1.3333333333vw;
    text-align: center;
  }
  .sec__login .login__logo img {
    max-width: 58.1333333333vw;
  }
  .sec__login .login__blog {
    padding: 6.6666666667vw 4vw 7.4666666667vw;
    background-color: rgba(255, 255, 255, 0.89);
    -moz-box-shadow: 0 1.6vw 3.2vw rgba(0, 0, 0, 0.15);
         box-shadow: 0 1.6vw 3.2vw rgba(0, 0, 0, 0.15);
    -moz-border-radius: 4vw;
         border-radius: 4vw;
  }
  .sec__login .login__blog--register {
    padding-top: 4vw;
    padding-bottom: 5.0666666667vw;
  }
  .sec__login .login__blog .register__title {
    margin-bottom: 9.3333333333vw;
    padding-left: 1.3333333333vw;
    font-family: "SourceHanSansJP", sans-serif;
    font-size: 3.2vw;
    font-weight: 400;
    color: #004328;
    text-align: center;
  }
  .sec__login .login__blog .register__btns {
    text-align: center;
  }
  .sec__login .login__blog:not(:last-child) {
    margin-bottom: 8.5333333333vw;
  }
  .sec__login .form__control__label {
    font-size: 3.2vw;
    color: #888888;
  }
  .sec__login .form__control__input {
    margin-right: 0.8vw;
  }
  .sec__login .form__control__input input {
    background-color: transparent;
    border-color: #005C40;
    font-size: 3.7333333333vw;
  }
  .sec__login .form__control__checkbox {
    padding-top: 1.6vw;
  }
  .sec__login .form__btns {
    margin-top: 9.0666666667vw;
    text-align: center;
  }
}