.sec__coin{
    padding-bottom: vw(80);
    .coin{
        &__banner{
            position: relative;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-bottom: vw(47);
            padding: vw(18) vw(20) vw(26);
            background-color: #028552;
            border-radius: vw(15);
            color: $col-white;
            z-index: 1;
            &:after{
                content: '';
                position: absolute;
                left: vw(16);
                bottom:vw( 9);
                background: transparent url(../../images/common/icon_coin_gr.png) no-repeat;
                background-size: 100% auto;
                width: vw(43);
                height: vw(43);
                z-index: -1;
            }
            &__lbl{
                padding: vw(1) 0 vw(1) vw(23);
                background: transparent url(../../images/common/icon_coin_sm.png) no-repeat;
                background-size: vw(18) auto;
                font-size: vw(14);
                font-weight: bold;
            }
            &__price{
                margin-top: vw(28);
                width: 100%;
                font-size: vw(19);
                font-weight: 500;
                text-align: center;
                span{
                    display: inline-block;
                    margin-right: vw(4);
                    font-family: $font-m1;
                    font-size: vw(38);
                    font-weight: bold;
                    letter-spacing: vw(-1.5);
                    line-height: 1;
                }
            }
        }
        &__warning{
            margin-bottom: vw(12);
            font-family: $font-source;
            font-size: vw(12);
            line-height: 1.4;
            font-weight: bold;
            color: $col-pink;
            text-align: center;
            span{
                display: inline-block;
                padding: vw(5) vw(6) vw(5) vw(24);
                background: transparent url(../../images/common/notice_icon_warning.png) no-repeat 0 vw(5);
                background-size: vw(20) auto;
                text-align: left;
            }
        }
        &__subttl{
            position: relative;
            margin-bottom: vw(17);
            padding: vw(7) 0;
            font-family: $font-source;
            font-weight: bold;
            color: #036442;
            text-align: center;
            z-index: 1;
            &:after{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: vw(27) vw(71.5) 0;
                border-color: rgba($color: #036442, $alpha: 0.17) transparent transparent;
                z-index: -1;
            }
            h3{
                font-size: vw(14);
            }
        }
        &__img{
            margin-bottom: vw(31);
            border-radius: vw(20);
            overflow: hidden;
            text-align: center;
            img{
                max-width: vw(258);
                border-radius: vw(20);
            }
        }
        &__controls{
            display: flex;
            align-items: center;
            flex-flow: row wrap;
            &__lbl{
                padding: vw(12) 0 0 vw(7);
                font-family: $font-source;
                font-size: vw(14);
                color: $col-gray;
            }
            .note{
                margin: vw(6) 0 vw(9);
                width: 100%;
            }
            .btn--other{
                margin-bottom: 0;
            }
        }
    }
    .step{
        &__list{
            display: flex;
            justify-content: space-between;
            margin-bottom: vw(29);
            padding: 0 vw(33) 0 vw(32);
        }
        &__item{
            position: relative;
            flex: 1;
            font-family: $font-source;
            font-size: vw(12);
            color: #D8D8D8;
            text-align: center;
            z-index: 1;
            &:before,
            &:after{
                content: '';
                background-color: #D8D8D8;
                pointer-events: none;
                position: absolute;
            }
            &:before{
                top: vw(28);
                left: 50%;
                width: vw(15);
                height: vw(15);
                border-radius: 50%;
                transform: translateX(-50%);
                z-index: 1;
            }
            &:after{
                left: -50%;
                top: vw(36);
                width: 100%;
                height: 1px;
                z-index: -1;
            }
            &__lbl{
                display: inline-block;
                margin-bottom: vw(28);
                padding: vw(4) vw(2) vw(2);
                min-width: vw(70);
                border: 1px solid #707070;
                border-radius: vw(10);
                text-align: center;
                color: $col-green2;
            }
            &--active{
                color: $col-green2;
                z-index: 2;
                &:before{
                    background-color: $col-green2;
                }
                &:after{
                    content: none;
                }
            }
        }
    }
    .form__control{
        &__label{
            margin-bottom: vw(2);
            font-size: vw(12);
        }
        &__input{
            >p{
                padding-bottom: vw(8);
                font-size: vw(14);
            }
        }
        &:first-child{
            .form__control__label{
                margin-bottom: vw(6);
            }
        }
        &:not(:first-child){
            margin-top: vw(24);
        }
    }
    .form__btns{
        margin-top: vw(33);
    }
    .btn{
        &--login{
            margin-bottom: vw(14);
            padding: vw(8) vw(32)vw( 9) vw(12);
            background-size: vw(12) auto;
            background-position: right vw(16) center;
            font-family: $font-source;
            font-size: vw(14);
        }
    }
}