.breadcrumb{
    margin-bottom: vw(43);
}
.sec__register{
    padding-bottom: vw(100);
    .step{
        &__list{
            position: relative;
            margin-bottom: vw(44);
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            z-index: 1;
            &:after{
                content: '';
                background-color: #D8D8D8;
                position: absolute;
                left: vw(30);
                right: vw(30);
                top: vw(7);
                height: 1px;
                z-index: -1;
            }
        }
        &__item{
            position: relative;
            font-family: $font-source;
            list-style-type: none;
            color: $col-gray;
            text-align: center;
            font-size: vw(12);
            &:before{
                content: '';
                background-color: #D8D8D8;
                display: block;
                width: vw(15);
                height: vw(15);
                border-radius: 50%;
                margin: 0 auto vw(11);
            }
            &--active{
                color: $col-green2;
                &:before{
                    background-color: $col-green2;
                }
            }
        }
    }
    .selects{
        display: flex;
        select{
            width: calc(33.3333% - vw(2.5));
            &:not(:nth-child(3n)){
                margin-right: vw(5);
            }
        }
    }
    .form{
        &__group{
            margin-top: vw(43);
            .form__control__label{
                margin-bottom: vw(2);
            }
            .form__control:not(:first-child){
                margin-top: 0;
            }
        }
        &__control{
            .control__label{
                margin-bottom: 0;
                padding-left: vw(21);
            }
            &__label{
                margin-bottom: vw(7);
                font-size: vw(12);
            }
            &__input{
                input{
                    font-size: vw(12);
                }
            }
            &__checkbox{
                margin: vw(5) 0 0 vw(8);
            }
            &:not(:first-child){
                margin-top: vw(36);
            }
        }
        &__blog{
            &:not(.form__blog--privacy){
                .form__blog__cnt{
                    padding: vw(38) vw(15) vw(47);
                }
            }
            &:not(.form__blog--privacy):not(:last-child){
                margin-bottom: vw(47);
            }
        }
        &__btns{
            .btn--login{
                margin: 0 auto;
                padding: vw(8) vw(40);
            }
        }
    }
}