.sec__mainvisual{
    padding: 45px 0 102px;
    background: $col-green1 url(../../images/top/mv_bgr_pattern.png) no-repeat center bottom;
    color: $col-white;
    .mainvisual{
        &__intro{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            &__no{
                flex-shrink: 0;
                padding-left: 28px;
                background: transparent url(../../images/common/icon_address.png) no-repeat left center;
                background-size: 22px auto;
                font-size: rem(14);
                span{
                    display: inline-block;
                    padding-left: 10px;
                    font-size: rem(18);
                    font-weight: bold;
                }
            }
        }
        &__title{
            font-size: rem(16);
            font-weight: 500;
            letter-spacing: -6px;
            span{
                display: inline-block;
                padding-left: 35px;
                font-size: rem(32);
                line-height: 1.3;
                font-weight: bold;
                letter-spacing: 0;
            }
        }
    }
}
.sec__news{
    padding-bottom: 42px;
    .news{
        &__wrapper{
            display: flex;
            background-color: $col-white;
            box-shadow: 0 3px 6px rgba($color: $col-black, $alpha: 0.15);
            overflow: hidden;
            border-radius: 15px;
            margin-top: -57px;
        }
        &__head{
            flex-shrink: 0;
            padding: 31px 25px 24px;
            background-color: rgba($color: $col-green1, $alpha: 0.06);
            width: 250px;
        }
        &__title{
            margin-bottom: 19px;
            padding-left: 26px;
            background: transparent url(../../images/top/icon_info.png) no-repeat left center;
            background-size: 20px auto;
            font-size: rem(18);
            color: $col-green1;
            font-weight: bold;
            letter-spacing: -2px;
        }
        &__cnt{
            flex: 1 auto;
            padding: 33px 32px 29px 92px;
            width: 100%;
        }
        &__item{
            display: flex;
            font-weight: 500;
            &__date{
                flex-shrink: 0;
                padding: 2px 5px 0 0;
                width: 85px;
                font-size: rem(12);
                color: $col-gray;
            }
            &__link{
                flex: 1 auto;
                width: 100%;
                padding-right: 30px;
                background: transparent url(../../images/common/arrow_circle_rgt_or.png) no-repeat right center;
                background-size: 18px auto;
                color: $col-dfault;
                letter-spacing: -1px;
                &:link{
                    color: $col-dfault;
                }
            }
            &:not(:last-of-type){
                margin-bottom: 16px;
            }
        }
    }
}
.sec__members{
    padding-bottom: 18px;
    overflow: hidden;
    .members{
        &__notify{
            position: relative;
            margin-bottom: 34px;
            padding: 30px 28px 28px;
            background-color: $col-white;
            box-shadow: 0 3px 6px rgba($color: $col-black, $alpha: 0.15);
            overflow: hidden;
            border-radius: 15px;
            &__title{
                margin-bottom: 13px;
                padding-left: 34px;
                background: transparent url(../../images/top/icon_info_pink.png) no-repeat 0 5px;
                background-size: 23px auto;
                font-family: $font-source;
                font-size: rem(15);
                line-height: 1.4;
                font-weight: bold;
                color: $col-pink;
            }
            &__note{
                padding: 0 160px 0 33px;
                font-size: rem(12);
                color: $col-gray;
            }
            .link__arrow{
                position: absolute;
                right: 41px;
                bottom: 29px;
                color: #868686;
            }
        }
        &__blogs{
            display: flex;
            flex-flow: row wrap;
            margin: 0 -12.5px 7px;
        }
        &__blog{
            margin-bottom: 25px;
            padding: 0 12.5px;
            width: 33.333333%;
            &__inner{
                display: flex;
                align-items: center;
                padding: 14px 30px 12px;
                background-color: #E3E3E3;
                height: 100%;
                border-radius: 15px;
            }
            &__img{
                flex-shrink: 0;
                width: 32px;
            }
            &__des{
                padding-left: 24px;
                h3{
                    font-family: $font-source;
                    font-size: rem(26);
                    font-weight: bold;
                    line-height: 1.4;
                    color: $col-white;
                }
                .btn--link{
                    margin: 5px 0 0 8px;
                    padding: 7px 34px 6px 24px;
                    background-color: rgba($color: $col-black, $alpha: 0.2);
                    background-position: right 17px center;
                    min-width: 147px;
                    border: none;
                    text-align: center;
                }
            }
            &--active{
                .members__blog__inner{
                    background-color: #008553;
                }
            }
            &--procedure{
                .members__blog__inner{
                    justify-content: center;
                    padding-left: 10px;
                    padding-right: 43px;
                }
                .members__blog__des{
                    padding-left: 30px;
                }
            }
            &--authen{
                .members__blog__inner{
                    padding: 14px 18px 12px 41px;
                }
                .members__blog__des{
                    padding-left: 15px;
                }
            }
            &:not(:nth-child(3n)){
                position: relative;
                z-index: 1;
                &:after{
                    content: '';
                    position: absolute;
                    right: -3.5px;
                    top: 50%;
                    background: transparent url(../../images/common/arrow_rgt.png) no-repeat;
                    background-size: 100% auto;
                    width: 8px;
                    height: 14px;
                    transform: translateY(-50%);
                    z-index: -1;
                }
            }
        }
        &__price{
            display: flex;
            margin: 0 -12.5px;
            >*{
                margin-bottom: 25px;
                padding: 0 12.5px;
                width: 33.333333%;
            }
        }
    }
    .fee{
        &__wrapper{
            position: relative;
            padding: 23px 25px 25px;
            background-color: #008553;
            border-radius: 15px;
            color: $col-white;
            z-index: 1;
            &:before{
                content:'';
                position: absolute;
                left: 8px;
                bottom: 16px;
                background: transparent url(../../images/common/icon_wallet_gr.png) no-repeat;
                background-size: 100% auto;
                width: 35px;
                height: 31px;
                z-index: -1;
            }
        }
        &__lbl{
            margin-bottom: 12px;
            padding-left: 25px;
            background: transparent url(../../images/common/icon_wallet.png) no-repeat 0 2px;
            background-size: 16px auto;
            font-size: rem(13);
            font-weight: 500;
            color: rgba($color: $col-white, $alpha: 0.8);
            span{
                display: inline-block;
                margin-right: 15px;
                font-size: rem(16);
                font-weight: bold;
                color: $col-white;
                letter-spacing: -1px;
            }
        }
        &__detail{
            display: flex;
            justify-content: space-between;
            .btn--link{
                margin-bottom: 4px;
                align-self: flex-end;
                padding: 6px 30px 8px 17px;
                background-color: rgba($color: $col-black, $alpha: 0.2);
                background-position: right 8px center;
                background-size: 15px auto;
                min-width: auto;
                height: auto;
                border: none;
            }
        }
        &__price{
            font-family: $font-m1;
            font-size: rem(38);
            font-weight: bold;
            span{
                font-family: $font-noto;
                font-size: rem(16);
                font-weight: 500;
            }
        }
    }
    .coin{
        &__wrapper{
            position: relative;
            padding: 23px 25px 26px;
            background-color: $col-white;
            border-radius: 15px;
            color: $col-dfault;
            z-index: 1;
            &:before{
                content:'';
                position: absolute;
                left: 7px;
                bottom: 9px;
                background: transparent url(../../images/common/icon_coin_large.png) no-repeat;
                background-size: 100% auto;
                width: 37px;
                height: 37px;
                z-index: -1;
            }
        }
        &__heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 21px;
        }
        &__lbl{
            padding-left: 25px;
            background: transparent url(../../images/common/icon_coin_sm.png) no-repeat;
            background-size: 18px auto;
            font-weight: bold;
        }
        &__detail{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .btn--link{
                background-color: rgba($color: $col-black, $alpha: 0.2);
                min-width: auto;
                border: none;
            }
            .link__arrow--orange{
                background-size: 14px auto;
            }
        }
        &__price{
            font-family: $font-m1;
            font-size: rem(30);
            font-weight: bold;
            color: $col-green1;
            span{
                display: inline-block;
                vertical-align: middle;
                font-family: $font-noto;
                font-size: rem(16);
                font-weight: 500;
                letter-spacing: -5px;
            }
        }
    }
    .more{
        &__list{
            display: flex;
            flex-flow: row wrap;
            margin: 0 -12.5px;
            height: 100%;
        }
        &__item{
            padding: 0 12.5px;
            width: 50%;
            &__inner{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 23px 14px 22px;
                height: 100%;
                box-shadow: 0 3px 6px rgba($color: $col-black, $alpha: 0.15);
                border-radius: 15px;
                font-weight: 500;
                color: $col-dfault;
            }
            &__icon{
                margin-bottom: 20px;
                width: 44px;
            }
            &:nth-of-type(2n){
                margin-right: 0;
            }
        }
    }
}
.sec__proplems{
    padding-bottom: 17px;
    overflow: hidden;
    .sec__title{
        margin-bottom: 20px;
    }
    .proplems{
        &__list{
            display: flex;
            flex-flow: row wrap;
            margin: 0 -12.5px;
        }
        &__item{
            margin-bottom: 25px;
            padding: 0 12.5px;
            width: 33.333333%;
            &__inner{
                position: relative;
                display: block;
                padding: 15px 16px 10px;
                height: 100%;
                border-radius: 15px;
                text-align: center;
                color: $col-white;
                z-index: 1;
                &:before{
                    content: '';
                    position: absolute;
                    left: 25px;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    z-index: -1;
                }
            }
            &__lbl{
                display: inline-block;
                margin-bottom: 3px;
                padding-left: 22px;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: 2px 2px;
                background-size: 16px auto;
                font-size: rem(15);
                font-weight: 500;
            }
            &__ttl{
                font-family: $font-m1;
                font-size: rem(28);
                font-weight: bold;
                line-height: 1.5;
            }
            &--line{
                .proplems__item__inner{
                    background-color: #17AF4F;
                    &:before{
                        left: 35px;
                        background-image: url(../../images/top/proplem_icon_mess.png);
                        width: 38px;
                        height: 34px;
                    }
                }
                .proplems__item__lbl{
                    background-image: url(../../images/top/proplem_icon_line.png);
                }
            }
            &--faq{
                .proplems__item__inner{
                    background-color: #028552;
                    &:before{
                        background-image: url(../../images/top/proplem_icon_qa.png);
                        width: 30px;
                        height: 36px;
                    }
                }
                .proplems__item__lbl{
                    background-image: url(../../images/top/proplem_icon_qa_sm.png);
                }
            }
        }
    }
}
.sec__benefits{
    padding-bottom: 19px;
    overflow: hidden;
    .sec__title{
        margin-bottom: 21px;
    }
    .benefits{
        &__list{
            display: flex;
            flex-flow: row wrap;
            margin: 0 -12.5px;
        }
        &__item{
            margin-bottom: 25px;
            padding: 0 12.5px;
            width: 33.3333%;
            &__inner{
                display: block;
                background-color: #008553;
                height: 100%;
                border-radius: 15px;
                font-size: rem(14);
                line-height: 1.2;
                color: $col-white;
                font-weight: 500;
                overflow: hidden;
                text-align: center;
            }
            &__des{
                padding: 11px 17px 12px;
            }
            &__lbl{
                margin-bottom: 7px;
            }
            &__ttl{
                font-size: rem(18);
                font-weight: bold;
            }
            &__coin{
                padding: 5px 16px 3px;
                background-color: #037249;
                &:before{
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    margin: -3px 4px 0 0;
                    background: transparent url(../../images/common/icon_coin_sm.png) no-repeat;
                    background-size: 100% auto;
                    width: 16px;
                    height: 17px;
                }
                span{
                    font-family: $font-m1;
                    font-weight: bold;
                }
            }
        }
    }
}
.sec__blogs{
    padding-bottom: 80px;
    overflow: hidden;
    .sec__title{
        margin-bottom: 20px;
    }
    .blogs{
        &__wrapper{
            display: flex;
            flex-flow: row wrap;
            margin: 0 -12.5px;
            >*{
                margin-bottom: 25px;
                padding: 0 12.5px;
                width: 33.333333%;
            }
        }
    }
    .list__blog{
        .blog{
            &__item{
                &__inner{
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding: 12px 40px 12px 12px;
                    background-color: $col-white;
                    box-shadow: 0 3px 6px rgba($color: $col-black, $alpha: 0.15);
                    border-radius: 15px;
                    font-weight: 500;
                    color: $col-dfault;
                    z-index: 1;
                    &:after{
                        content: '';
                        position: absolute;
                        right: 20px;
                        margin-top: 2px;
                        top: 50%;
                        background: transparent url(../../images/common/arrow_circle_rgt_or.png) no-repeat;
                        background-size: 100% auto;
                        width: 16px;
                        height: 16px;
                        transform: translateY(-50%);
                        z-index: -1;
                    }
                }
                &__icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    background-color: #F7F7F7;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    img{
                        max-width: 25px;
                    }
                }
                &__des{
                    flex: 1 auto;
                    padding: 5px 0 0 12px;
                    width: 100%;
                    span{
                        display: block;
                        margin-bottom: 5px;
                        font-size: rem(12);
                        color: rgba($color: $col-black, $alpha: 0.6);
                    }
                    p+span{
                        margin-bottom: 0;
                        font-size: rem(10);
                        color: #AAAAAA;
                    }
                }
                &:not(:last-of-type){
                    margin-bottom: 10px;
                }
            }
        }
    }
}