.sec__mainvisual{
    padding: vw(38) 0 vw(111);
    background: $col-green1 url(../../images/top/mv_bgr_pattern_sp.png) no-repeat center bottom;
    background-size: 100% auto;
    color: $col-white;
    .mainvisual{
        &__intro{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: vw(4);
            &__no{
                flex-shrink: 0;
                padding-left: vw(24);
                background: transparent url(../../images/common/icon_address.png) no-repeat left center;
                background-size: vw(18) auto;
                font-size: vw(12);
                span{
                    display: inline-block;
                    font-family: $font-m1;
                    padding-left: vw(8);
                    font-size: vw(16);
                    font-weight: bold;
                }
            }
        }
        &__title{
            font-size: vw(13);
            font-weight: 500;
            letter-spacing: vw(-4);
            span{
                display: inline-block;
                padding-left: vw(26);
                font-size: vw(18);
                line-height: 1.3;
                font-weight: bold;
                letter-spacing: 0;
            }
        }
    }
}
.sec__news{
    padding-bottom: vw(44);
    .news{
        &__wrapper{
            background-color: $col-white;
            box-shadow: 0 vw(3) vw(6) rgba($color: $col-black, $alpha: 0.15);
            overflow: hidden;
            border-radius: vw(15);
            margin-top: vw(-58);
        }
        &__head{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: vw(11) vw(15) vw(6);
            background-color: rgba($color: $col-green1, $alpha: 0.06);
            .link__arrow{
                margin-bottom: vw(5);
            }
        }
        &__title{
            padding-left: vw(20);
            background: transparent url(../../images/top/icon_info.png) no-repeat left center;
            background-size: vw(17) auto;
            font-size: vw(18);
            color: $col-green1;
            font-weight: bold;
            letter-spacing: vw(-5);
        }
        &__cnt{
            padding: vw(11) vw(15) vw(16);
        }
        &__item{
            font-weight: 500;
            &__date{
                display: block;
                margin-bottom: vw(6);
                font-family: $font-m1;
                font-size: vw(12);
                color: $col-gray;
                font-weight: bold;
            }
            &__link{
                display: block;
                padding-right: vw(30);
                background: transparent url(../../images/common/arrow_circle_rgt_or.png) no-repeat right center;
                background-size: vw(16) auto;
                font-size: vw(15);
                color: $col-dfault;
                letter-spacing: vw(-1);
                font-weight: 500;
                &:link{
                    color: $col-dfault;
                }
            }
            &:not(:last-of-type){
                margin-bottom: vw(16);
            }
        }
    }
}
.sec__members{
    padding-bottom: vw(45);
    overflow: hidden;
    .members{
        &__notify{
            position: relative;
            margin-bottom: vw(25);
            padding: vw(25) vw(15) vw(17) vw(20);
            background-color: $col-white;
            box-shadow: 0 vw(3) vw(6) rgba($color: $col-black, $alpha: 0.15);
            overflow: hidden;
            border-radius: vw(15);
            &:after{
                content: '';
                display: block;
                clear: right;
            }
            &__title{
                margin-bottom: vw(8);
                padding-left: vw(22);
                background: transparent url(../../images/top/icon_info_pink.png) no-repeat 0 vw(3);
                background-size: vw(15) auto;
                font-family: $font-source;
                font-size: vw(12);
                line-height: 1.4;
                font-weight: 500;
                color: $col-pink;
            }
            &__note{
                margin-bottom: vw(14);
                padding-left: vw(22);
                font-size: vw(12);
                color: $col-gray;
            }
            .link__arrow{
                float: right;
                padding-right: vw(40);
                color: #868686;
                letter-spacing: vw(-5);
                clear: right;
            }
        }
        &__blogs{
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: vw(4);
        }
        &__blog{
            margin-bottom: vw(39);
            &__inner{
                position: relative;
                display: flex;
                align-items: center;
                padding: vw(14) vw(30) vw(12);
                background-color: #E3E3E3;
                min-height: vw(99);
                border-radius: vw(15);
                z-index: 1;
                &:after{
                    content: '';
                    position: absolute;
                    right: 30px;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                    background: transparent url(../../images/common/arrow_checked.png) no-repeat;
                    background-size: 100% auto;
                    width: 26px;
                    height: 20px;
                    z-index: -1;
                }
            }
            &__img{
                flex-shrink: 0;
                width: vw(32);
            }
            &__des{
                padding-left: vw(24);
                h3{
                    font-family: $font-source;
                    font-size: vw(26);
                    font-weight: bold;
                    line-height: 1.4;
                    color: $col-white;
                }
                .btn--link{
                    margin: vw(5) 0 0 vw(6);
                    padding: vw(7) vw(34) vw(6) vw(24);
                    background-color: rgba($color: $col-black, $alpha: 0.2);
                    background-position: right vw(18) center;
                    background-size: vw(15) auto;
                    min-width: vw(148);
                    border: none;
                    text-align: center;
                }
            }
            &--active{
                .members__blog__inner{
                    background-color: #008553;
                    &:after{
                        content: none;
                    }
                }
            }
            &--procedure{
                .members__blog__inner{
                    justify-content: center;
                    padding-left: vw(12);
                    padding-right: vw(70);
                }
                .members__blog__des{
                    padding-left: vw(47);
                }
            }
            &--authen{
                .members__blog__inner{
                    padding: vw(14) vw(18) vw(12) vw(37);
                }
                .members__blog__des{
                    padding-left: vw(19);
                }
            }
            &:not(:first-child){
                position: relative;
                z-index: 1;
                &:after{
                    content: '';
                    position: absolute;
                    bottom: vw(-23);
                    left: 50%;
                    background: transparent url(../../images/common/arrow_dropdown.png) no-repeat;
                    background-size: 100% auto;
                    width: vw(14);
                    height: vw(8);
                    transform: translateX(-50%);
                    z-index: -1;
                }
            }
        }
        &__price{
            >*{
                margin-bottom: vw(13);
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    .fee{
        &__wrapper{
            position: relative;
            padding: vw(20) vw(20) vw(18);
            background-color: #008553;
            border-radius: vw(15);
            color: $col-white;
            z-index: 1;
            &:before{
                content:'';
                position: absolute;
                left: vw(14);
                bottom: vw(8);
                background: transparent url(../../images/common/icon_wallet_gr.png) no-repeat;
                background-size: 100% auto;
                width: vw(35);
                height: vw(31);
                z-index: -1;
            }
        }
        &__lbl{
            margin-bottom: vw(11);
            padding-left: vw(25);
            background: transparent url(../../images/common/icon_wallet.png) no-repeat 0 vw(2);
            background-size: vw(16) auto;
            font-size: vw(12);
            font-weight: 500;
            color: rgba($color: $col-white, $alpha: 0.8);
            span{
                display: inline-block;
                margin-right: vw(10);
                font-size: vw(15);
                font-weight: bold;
                color: $col-white;
                letter-spacing: vw(-1);
            }
        }
        &__detail{
            display: flex;
            justify-content: space-between;
            .btn--link{
                margin-bottom: vw(4);
                align-self: flex-end;
                padding: vw(6) vw(30) vw(8) vw(8);
                background-color: rgba($color: $col-black, $alpha: 0.2);
                background-position: right vw(9) center;
                background-size: vw(15) auto;
                min-width: auto;
                height: auto;
                border: none;
            }
        }
        &__price{
            font-family: $font-m1;
            font-size: vw(32);
            font-weight: bold;
            span{
                display: inline-block;
                vertical-align: middle;
                padding-top: vw(4);
                font-family: $font-noto;
                font-size: vw(16);
                font-weight: 500;
            }
        }
    }
    .coin{
        &__wrapper{
            position: relative;
            padding: vw(19) vw(20) vw(17);
            background-color: $col-white;
            border-radius: vw(15);
            color: $col-dfault;
            z-index: 1;
            &:before{
                content:'';
                position: absolute;
                left: vw(6);
                bottom: vw(6);
                background: transparent url(../../images/common/icon_coin_large.png) no-repeat;
                background-size: 100% auto;
                width: vw(35);
                height: vw(35);
                z-index: -1;
            }
        }
        &__heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: vw(12);
        }
        &__lbl{
            padding-left: vw(23);
            background: transparent url(../../images/common/icon_coin_sm.png) no-repeat;
            background-size: vw(18) auto;
            font-size: vw(14);
            font-weight: bold;
        }
        &__detail{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .btn--link{
                background-color: rgba($color: $col-black, $alpha: 0.2);
                min-width: auto;
                border: none;
            }
            .link__arrow--orange{
                padding-right: vw(41);
                background-size: vw(14) auto;
                letter-spacing: vw(-3);
            }
        }
        &__price{
            font-family: $font-m1;
            font-size: vw(26);
            font-weight: bold;
            color: $col-green1;
            span{
                display: inline-block;
                vertical-align: middle;
                font-family: $font-noto;
                font-size: vw(14);
                font-weight: 500;
                letter-spacing: vw(-5);
            }
        }
    }
    .more{
        &__list{
            display: flex;
            flex-flow: row wrap;
            margin: 0 vw(-5);
            height: 100%;
        }
        &__item{
            padding: 0 vw(5);
            width: 50%;
            &__inner{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: vw(11) vw(14) vw(18);
                height: 100%;
                box-shadow: 0 vw(3) vw(6) rgba($color: $col-black, $alpha: 0.15);
                border-radius: vw(15);
                font-size: vw(14);
                font-weight: 500;
                color: $col-dfault;
            }
            &__icon{
                margin-bottom: vw(13);
                width: vw(40);
            }
            &:nth-of-type(2n){
                margin-right: 0;
            }
        }
    }
}
.sec__proplems{
    padding-bottom: vw(59);
    overflow: hidden;
    .sec__title{
        margin-bottom: vw(13);
    }
    .proplems{
        &__item{
            margin-bottom: vw(14);
            &__inner{
                position: relative;
                display: block;
                padding: vw(16) vw(10) vw(10);
                height: 100%;
                border-radius: vw(15);
                text-align: center;
                color: $col-white;
                z-index: 1;
                &:before{
                    content: '';
                    position: absolute;
                    left: vw(25);
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    z-index: -1;
                }
            }
            &__lbl{
                display: inline-block;
                margin-bottom: vw(3);
                padding-left: vw(22);
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: vw(2) vw(2);
                background-size: vw(16) auto;
                font-size: vw(15);
                font-weight: 500;
            }
            &__ttl{
                font-family: $font-m1;
                font-size: vw(28);
                font-weight: bold;
                line-height: 1.5;
            }
            &--line{
                .proplems__item__inner{
                    background-color: #17AF4F;
                    &:before{
                        left: vw(26);
                        background-image: url(../../images/top/proplem_icon_mess.png);
                        width: vw(38);
                        height: vw(34);
                    }
                }
                .proplems__item__lbl{
                    background-image: url(../../images/top/proplem_icon_line.png);
                }
            }
            &--faq{
                .proplems__item__inner{
                    background-color: #028552;
                    &:before{
                        background-image: url(../../images/top/proplem_icon_qa.png);
                        width: vw(30);
                        height: vw(36);
                    }
                }
                .proplems__item__lbl{
                    background-image: url(../../images/top/proplem_icon_qa_sm.png);
                }
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}
.sec__benefits{
    padding-bottom: vw(43);
    overflow: hidden;
    .sec__title{
        margin-bottom: vw(25);
    }
    .benefits{
        &__item{
            margin-bottom: vw(10);
            &__inner{
                display: flex;
                flex-direction: row-reverse;
                background-color: #008553;
                height: 100%;
                border-radius: vw(15);
                font-size: vw(14);
                line-height: 1.2;
                color: $col-white;
                font-weight: 500;
                overflow: hidden;
                text-align: center;
            }
            &__img{
                width: vw(110);
                flex-shrink: 0;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &__cnt{
                flex: 1 auto;
                width: 100%;
            }
            &__des{
                padding: vw(17) vw(10) vw(13);
            }
            &__lbl{
                margin-bottom: vw(6);
            }
            &__ttl{
                font-size: vw(18);
                font-weight: bold;
            }
            &__coin{
                padding: vw(5) vw(10) vw(4);
                background-color: #037249;
                &:before{
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    margin: vw(-3) vw(4) 0 0;
                    background: transparent url(../../images/common/icon_coin_sm.png) no-repeat;
                    background-size: 100% auto;
                    width: vw(16);
                    height: vw(17);
                }
                span{
                    font-family: $font-m1;
                    font-weight: bold;
                }
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}
.sec__blogs{
    padding-bottom: vw(142);
    overflow: hidden;
    .sec__title{
        margin-bottom: vw(20);
    }
    .blogs{
        &__wrapper{
            >*{
                margin-bottom: vw(41);
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    .list__blog{
        .blog{
            &__item{
                &__inner{
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding: vw(12) vw(40) vw(12) vw(12);
                    background-color: $col-white;
                    box-shadow: 0 vw(3) vw(6) rgba($color: $col-black, $alpha: 0.15);
                    border-radius: vw(15);
                    font-weight: 500;
                    color: $col-dfault;
                    z-index: 1;
                    &:after{
                        content: '';
                        position: absolute;
                        right: vw(20);
                        margin-top: vw(2);
                        top: 50%;
                        background: transparent url(../../images/common/arrow_circle_rgt_or.png) no-repeat;
                        background-size: 100% auto;
                        width: vw(16);
                        height: vw(16);
                        transform: translateY(-50%);
                        z-index: -1;
                    }
                }
                &__icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    background-color: #F7F7F7;
                    border-radius: 50%;
                    width: vw(40);
                    height: vw(40);
                    img{
                        max-width: vw(25);
                    }
                }
                &__des{
                    flex: 1 auto;
                    padding-left: vw(12);
                    width: 100%;
                    span{
                        display: block;
                        margin-bottom: vw(5);
                        font-size: vw(12);
                        color: rgba($color: $col-black, $alpha: 0.6);
                    }
                    p+span{
                        margin-bottom: 0;
                        font-size: vw(10);
                        color: #AAAAAA;
                    }
                }
                &:not(:last-of-type){
                    margin-bottom: vw(10);
                }
            }
        }
    }
}